# -------------------------
# Uploaded files (DO NOT PUSH)
# -------------------------
public/uploads/
public/uploads/*

# -------------------------
# OS files
# -------------------------
Thumbs.db
.DS_Store

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# IDE / Editor
# -------------------------
.vscode/
.idea/

.htaccess